@import '~leaflet/dist/leaflet.css';
@import '~tachyons/css/tachyons.css';

body {
  margin: 0;
  padding: 0;
}

.control-area {
  position: absolute;
  margin: 20px;
  margin-bottom: 20px;
  z-index: 999;
  width: 325px;
  height: calc(100vh - 40px);
  max-height: 600px;
  //padding: 20px;
  background-color: #34495e;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
}

.layer-controls {
  background-color: #34495e;
  padding-left: 12px;
}

.MuiTypography-body1{
  font-family: 'Rubik', sans-serif;
}