@import '~leaflet/dist/leaflet.css';
@import '~tachyons/css/tachyons.css';

body {
  margin: 0;
  padding: 0;
}

.control-area {
  position: absolute;
  margin: 20px;
  margin-bottom: 20px;
  z-index: 999;
  width: 325px;
  height: calc(100vh - 40px);
  max-height: 600px;
  //padding: 20px;
  background-color: #34495e;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
}

.layer-controls {
  background-color: #34495e;
  padding-left: 12px;
}

.MuiTypography-body1{
  font-family: 'Rubik', sans-serif;
}

#static-popup {
  height: 100px;
  width: 300px;
  background-color: #34495e;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  z-index: 999;
  font-family: 'Rubik', sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-2021 {
  border-left: 7px solid #FC427B;
}

.popup-2020 {
  border-left: 7px solid #26de81;
}

.popup-2019 {
  border-left: 7px solid #fed330;
}

.popup-2018 {
  border-left: 7px solid #fd9644;
}

.popup-2017 {
  border-left: 7px solid #00a8ff;
}

.popup-2016 {
  border-left: 7px solid #a55eea;
}

.popup-2015 {
  border-left: 7px solid #4834d4;
}

.popup-empty {
  display: none;
}